.faq {
  padding: 80px 0;

  @media (max-width: 900px) {
    padding: 60px 0;
  }

  @media (max-width: 425px) {
    padding: 40px 0;
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }

  &__item {
    background-color: var(--color-grey-light);
    border-radius: 10px;
    overflow: hidden;
  }

  &__question {
    background-color: transparent;
    color: var(--color-primary);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    border-radius: 0;
    padding: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;

    &.active {
      color: var(--color-secondary);

      &:hover {
        color: var(--color-secondary);
      }
    }

    &:hover {
      color: var(--color-green-50);
      background-color: none;
    }

    &.active &-icon {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &-icon {
      min-width: 30px;
      min-height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: var(--color-primary);
      color: var(--color-white);
      border-radius: 100%;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 1px;
        background: currentColor;
        border-radius: 10px;
      }

      &::before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      &::after {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__answer {
    color: var(--color-disabled);
    padding: 0 200px 0 30px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition:
      height 0.3s ease,
      opacity 0.3s ease,
      padding 0.3s ease;
    -o-transition:
      height 0.3s ease,
      opacity 0.3s ease,
      padding 0.3s ease;
    transition:
      height 0.3s ease,
      opacity 0.3s ease,
      padding 0.3s ease;

    &.open {
      opacity: 1;

      & p {
        margin-bottom: 30px;
      }
    }

    @media (max-width: 900px) {
      padding-right: 50px;
    }
  }

  &__btn {
    display: inline-block;
    margin-top: 40px;
  }
}
