.faq {
  padding: 80px 0;

  @media (max-width: 900px) {
    padding: 60px 0;
  }

  @media (max-width: 425px) {
    padding: 40px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }

  &__item {
    background: var(--color-grey-light);
    border-radius: 10px;
    overflow: hidden;
  }

  &__question {
    background: transparent;
    color: var(--color-primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 0;
    padding: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;

    &.active {
      color: var(--color-secondary);

      &:hover {
        color: var(--color-secondary);
      }
    }

    &:hover {
      color: var(--color-green-50);
      background: none;
    }

    &.active &-icon {
      transform: rotate(45deg);
    }

    &-icon {
      min-width: 30px;
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-primary);
      color: var(--color-white);
      border-radius: 100%;
      transition: 0.3s ease;

      & > svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__answer {
    color: var(--color-disabled);
    overflow: hidden;
    transition: max-height opacity 0.3s ease;
    padding: 0 200px 30px 30px;
    margin-top: -10px;
    display: none;

    &.open {
      display: block;
    }

    @media (max-width: 900px) {
      padding-right: 50px;
    }
  }

  &__btn {
    display: inline-block;
    margin-top: 40px;
  }
}
