.footer {
  position: relative;
  padding: 120px 0;
  background-color: var(--color-primary);

  @media (max-width: 900px) {
    padding: 60px 0;
  }

  @media (max-width: 425px) {
    padding: 40px 0;
  }

  &__title,
  &__description {
    color: var(--color-white);
    text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__description {
    max-width: 460px;
  }

  &__btn {
    display: block;
    margin: 30px auto 0 auto;

    &:hover {
      background-color: var(--color-white) !important;
      color: var(--color-primary);
    }
  }

  &__popup {
    display: none;
    padding: 150px 90px;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 700px;
    background-color: var(--color-primary);
    -webkit-box-shadow:
      0 2px 5px var(--color-green-light),
      -2px 0 5px var(--color-green-light),
      0 -2px 5px var(--color-green-light),
      2px 0 5px var(--color-green-light);
    box-shadow:
      0 2px 5px var(--color-green-light),
      -2px 0 5px var(--color-green-light),
      0 -2px 5px var(--color-green-light),
      2px 0 5px var(--color-green-light);

    @media (max-width: 1024px) {
      padding: 100px 50px;
    }

    @media (max-width: 768px) {
      padding: 50px 30px;
      max-width: none;
      left: 20px;
      right: 20px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    &.open {
      display: block;
    }

    &-title,
    &-description {
      color: var(--color-white);
      margin-bottom: 20px;
    }

    &-description {
      margin-bottom: 10px;
      font-weight: 500;
    }

    &-close {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
      width: 24px;
      height: 24px;

      &:hover &-icon {
        color: var(--color-secondary);
      }

      &-icon {
        margin-top: 4px;
        margin-left: 4px;
        width: 24px;
        height: 24px;
        color: var(--color-white);
      }
    }

    &-form {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 10px;
    }

    &-input {
      width: 100%;
      padding: 16px 16px 16px 28px;
      border: 1px solid var(--color-disabled);
      color: #a0a9a8;
      border-radius: 10px;
      margin-top: 10px;

      &-group {
        position: relative;

        & > .error-message {
          color: red;
          font-size: 12px;
          min-height: 16px;
          margin-top: 5px;
          display: none;
        }
      }

      &.error {
        border-color: red;
      }

      &::-webkit-input-placeholder {
        color: #a0a9a8;
        font-weight: 400;
      }

      &::-moz-placeholder {
        color: #a0a9a8;
        font-weight: 400;
      }

      &:-ms-input-placeholder {
        color: #a0a9a8;
        font-weight: 400;
      }

      &::-ms-input-placeholder {
        color: #a0a9a8;
        font-weight: 400;
      }

      &::placeholder {
        color: #a0a9a8;
        font-weight: 400;
      }

      &:focus::-webkit-input-placeholder {
        color: transparent;
      }

      &:focus::-moz-placeholder {
        color: transparent;
      }

      &:focus:-ms-input-placeholder {
        color: transparent;
      }

      &:focus::-ms-input-placeholder {
        color: transparent;
      }

      &:focus::placeholder {
        color: transparent;
      }

      &:focus {
        outline: none;
        border-color: var(--color-secondary);
      }
    }

    & label {
      color: #a0a9a8;
      margin-top: 20px;
    }

    &-checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &-link {
        color: #a0a9a8;
        text-decoration: underline !important;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;

        &:hover {
          color: var(--color-white);
        }
      }

      &:checked + .checkmark {
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);
      }

      &:checked + .checkmark::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 2px;
        width: 5px;
        height: 9px;
        border: solid var(--color-white);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    &-checkbox-label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & .checkmark {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid var(--color-disabled);
        border-radius: 4px;
        position: relative;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }

    &-btn {
      margin-top: 20px;
      background-color: var(--color-white) !important;
      color: var(--color-primary) !important;
      font-weight: 500 !important;

      &:hover {
        background-color: var(--color-secondary) !important;
        color: var(--color-white) !important;
      }
    }
  }
}
