.hero {
  padding: 120px 0;

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 40px;
  }

  &__title {
    margin-bottom: 20px;
    max-width: 500px;
  }

  &__description {
    margin-bottom: 30px;
    max-width: 440px;
    font-weight: 600;
  }

  &__image {
    max-width: 610px;
    width: 100%;
    border-radius: 10px;

    &-img {
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__btn {
    display: inline-block;
  }

  @media (max-width: 1024px) {
    &__img {
      max-width: 450px;
    }
  }

  @media (max-width: 900px) {
    padding: 60px 0;

    &__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }

    &__title,
    &__description {
      max-width: 100%;
    }

    &__img {
      max-width: 610px;
    }

    &__btn {
      display: inline-block;
    }
  }

  @media (max-width: 425px) {
    padding: 40px 0;
  }
}
