.reviews {
  background-color: var(--color-primary);
  padding: 120px 0;
  color: var(--color-white);
  overflow: hidden;

  @media (max-width: 900px) {
    padding: 60px 0;
  }

  @media (max-width: 425px) {
    padding: 40px 0 40px 0;
  }

  &__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 50px;

    @media (max-width: 425px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;

    @media (max-width: 425px) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
    }

    &-btn {
      color: var(--color-disabled);
      background-color: none;
      border: 1px solid var(--color-disabled);
      cursor: pointer;
      padding: 0;
      min-width: 48px;
      min-height: 48px;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      &:hover {
        background-color: none;
      }

      &.active {
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);

        &:hover {
          background-color: var(--color-primary);
        }
      }
    }

    &-btn.active > &-icon {
      color: var(--color-white);
    }

    &-btn.active:hover > &-icon {
      color: var(--color-secondary);
    }

    &-icon {
      color: var(--color-disabled);
      width: 10px;
      height: 5px;
    }

    &-btn--prev &-icon {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-top: -2px;
      margin-left: -2px;
    }

    &-btn--next &-icon {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-top: -2px;
      margin-left: 2px;
    }
  }

  &__swiper {
    overflow: visible !important;
    margin-top: 40px;
  }

  .swiper-wrapper {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }

  &__card {
    width: 400px !important;
    min-height: 380px;
    background-color: var(--color-green);
    border-radius: 10px;
    padding: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    @media (max-width: 450px) {
      width: 100% !important;
      padding: 20px;
    }
  }

  &__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    @media (max-width: 450px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 15px;

      &-name {
        text-align: center;
      }
    }

    &-img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
    }

    &-name {
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 700;
    }

    &-position {
      font-size: 14px;
      font-weight: 400;
    }

    &-quotes {
      margin-bottom: 30px;
    }
  }
}