.reviews {
  background: var(--color-primary);
  padding: 120px 0;
  color: var(--color-white);
  overflow: hidden;

  @media (max-width: 900px) {
    padding: 60px 0;
  }

  @media (max-width: 425px) {
    padding: 40px 0 0 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @media (max-width: 425px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__nav {
    display: flex;
    gap: 10px;

    @media (max-width: 425px) {
      justify-content: space-between;
      width: 100%;
    }

    &-btn {
      font-size: 16px;
      color: var(--color-disabled);
      background: none;
      border: 1px solid var(--color-disabled);
      cursor: pointer;
      padding: 0;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: none;
      }

      &.active {
        background: var(--color-secondary);
        border-color: var(--color-secondary);

        &:hover {
          background: var(--color-primary);
        }
      }
    }

    &-btn.active > &-icon {
      color: var(--color-white);
    }

    &-btn.active:hover > &-icon {
      color: var(--color-secondary);
    }

    &-icon {
      margin-top: -3px;
      color: var(--color-disabled);
      width: 10px;
      height: 5px;
    }

    &-btn--prev &-icon {
      transform: rotate(90deg);
    }

    &-btn--next &-icon {
      transform: rotate(-90deg);
    }
  }

  &__slider-wrap {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    position: relative;
    z-index: 0 !important;
  }

  &__list {
    margin-top: 40px;
    width: calc(100% + 500px);
  }

  &__card {
    width: 400px !important;
    min-height: 380px;
    background: var(--color-green);
    border-radius: 10px;
    padding: 40px;

    @media (max-width: 450px) {
      width: 320px !important;
    }

    @media (max-width: 375px) {
      width: 290px !important;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    @media (max-width: 450px) {
      flex-direction: column;
      gap: 15px;
    }

    &-img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
    }

    &-name {
      margin-bottom: 5px;
      text-align: center;
    }

    &-position {
      font-size: 14px;
      font-weight: 400;
    }

    &-quotes {
      margin-bottom: 30px;
    }
  }
}

.slick-slider .slick-track {
  min-width: 3500px !important;
  width: 100%;
}

.slick-slide {
  margin-right: 30px !important;
  width: 400px !important;

  @media (max-width: 450px) {
    width: 320px !important;
    margin-right: 15px !important;
  }

  @media (max-width: 375px) {
    width: 290px !important;
  }
}
