@font-face {
  font-family: "THICCCBOI";
  src: url("/fonts/THICCCBOI-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/fonts/THICCCBOI-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/fonts/THICCCBOI-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THICCCBOI";
  src: url("/fonts/THICCCBOI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1, .h1 {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 700;
}

h2, .h2 {
  font-size: 46px;
  line-height: 1.1;
  font-weight: 700;
}

h3, .h3 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

h4, .h4 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
}


@media (max-width: 768px) {
  h1, .h1 {
    font-size: 38px;
  }

  h2, .h2 {
    font-size: 32px;
  }

  h3, .h3 {
    font-size: 28px;
  }

  h4, .h4 {
    font-size: 16px;
  }
}